HOST=127.0.0.1
PORT=3000
NODE_ENV=development

APP_NAME=RepNoteAPI
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=pg
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

DEFAULT_ADMIN_EMAIL=administrator@app.com
DEFAULT_ADMIN_PASSWORD=QWERTY123
DEFAULT_ADMIN_NAME=Administrator

HASH_DRIVER=bcrypt

FB_CLIENT_ID=
FB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

DEFAULT_AVATAR=
